    .footer {
      background-color: #222;
      color: #fff;
      padding: 0.5rem;
      text-align: center;
      
    }

    .footer ul {
      list-style-type: none;
      padding: 0;
    }

    .footer ul li {
      display: inline-block;
      margin-right: 10px;
    }

    .footer ul li:last-child {
      margin-right: 0;
    }

    .footer ul li svg {
      width: 25px;
      height: 25px;
      fill: #fff;
      transition: color 0.3s ease;
     
    }
    .footer span {
      display: block;
      margin-top: 10px;
    }
    .footer ul li svg:hover {
      fill: #ffbb33;
     
    }
    .footer span{
      font-weight: bold;
      color: #ffbb33;
    }